{% extends "allianceauth/base-bs5.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block page_title %}
    {% translate "Fleet Formatter Tool" %}
{% endblock page_title %}

{% block header_nav_brand %}
    {% translate "Fleet Formatter Tool" %}
{% endblock header_nav_brand %}

{% block content %}
    <div>
        <div class="card card-primary border-0">
            <div class="card-header">
                <div class="card-title mb-0">
                    {% translate "Fleet Details" %}
                </div>
            </div>

            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        {% if generated != "" %}
                            <div class="text-end mb-3">
                                <textarea class="form-control" rows="10" cols="60">{{ generated }}</textarea>
                            </div>
                        {% endif %}

                        <form role="form" action="" method="POST">
                            {% csrf_token %}

                            {% bootstrap_form form %}

                            <div class="form-group mt-3 clearfix">
                                {% translate "Format" as button_text %}
                                {% bootstrap_button button_class="btn btn-primary" content=button_text %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
